@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  /* Arrière-plans */
  --background: #e5e5ef;
  --sidebar: #fbfbfc;
  --card: #ffffff;

  /* Couleurs principales */
  --primary: #803cda;
  --primary-foreground: #ffffff;

  --secondary: #2a2a31;
  --secondary-light: #eceef2;
  --secondary-foreground: #fbfbfc;

  --dark: #2a2a31;
  --dark-foreground: #ffffff;

  --button-inactive-bg: #f5f5f7;
  --button-disabled-default: #e5e5ef;
  --button-disabled-icon: #cacad5;

  --muted: #e5e5ef;
  --muted-foreground: #9999ab;

  --destructive: oklch(0.577 0.245 27.325);

  /* Bordures et Séparateurs */
  --border: #eceef2;

  /* Input */
  --input: #eceef2;
  --input-border: #803cda;
  --textarea: #f5f5f7;

  /* Avatar */
  --avatar-bg: #030213;

  /* Effets de survol / focus */
  --accent: #f5f4fa;
  --dark-accent: #717182;
  --sidebar-accent: #eceef2;

  /* Gris et Textes */
  /* Titres */
  --foreground: #0a0a0a;
  /* Sous-titres/ Dates / inputs */
  --text-subtle: #717182;
  /* Texte de lecture */
  --text-body: #2a2a31;
  /* Texte d'aide/ Exemples */
  --text-subtle-light: #838392;
}

@theme inline {
  /* Polices */

  --font-heading: var(--font-heading);
  --font-sans: var(--font-sans);

  /* Arrière-plans */

  --color-background: var(--background);
  --color-sidebar: var(--sidebar);
  --color-card: var(--card);

  /* Couleurs principales */

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary-light);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-dark: var(--dark);
  --color-dark-foreground: var(--dark-foreground);

  --color-button-inactive-bg: var(--button-inactive-bg);
  --color-button-disabled-default: var(--button-disabled-default);
  --color-button-disabled-icon: var(--button-disabled-icon);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-destructive: var(--destructive);

  /* Bordures et Séparateurs */
  --color-border: var(--border);

  /* Input */
  --color-input: var(--input);
  --color-input-border: var(--input-border);
  --color-textarea: var(--textarea);

  /* Avatar */
  --color-avatar: var(--avatar-bg);

  /* Effets de survol / focus */
  --color-accent: var(--accent);
  --color-dark-accent: var(--dark-accent);
  --color-sidebar-accent: var(--sidebar-accent);

  /* Textes */
  /* Titres */
  --color-title: var(--foreground);
  /* Texte de lecture */
  --color-body: var(--text-body);
  /* Sous-titres/ Dates */
  --color-subtle: var(--text-subtle);
  /* Texte d'aide/ Exemples */
  --color-subtle-light: var(--text-subtle-light);

  /* Formats de rayon */
  --radius-md: 8px;
  --radius-lg: 10px;
  --radius-xl: 14px;
}

.dark {
}

@layer base {
  /* * {
  } */

  p {
    font-family: var(--font-sans), sans-serif;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--text-body);
  }
}

@utility bg-grid-pattern {
  background-color: #28282d;
  background-size: 80px 80px;
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.04) 3px, transparent 3px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.04) 3px, transparent 3px);
}

@utility scrollbar-thin-hover {
  /* Cacher la barre de défilement par défaut */
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  /* Afficher la barre de défilement au survol */
  &:hover {
    scrollbar-width: thin;
    scrollbar-color: var(--color-muted-foreground) transparent;

    &::-webkit-scrollbar {
      display: block;
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(153, 153, 171, 0.4); /* --muted-foreground */
      border-radius: 9999px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--color-primary);
    }
  }
}
